@import url(https://fonts.googleapis.com/css?family=VT323);

$table-cell-dimension: 30px;

// Cell colors
$char-cell-color: #E4FCF9;
$path-cell-color: #E4CE8E;
$block-cell-color: #2A363B;
$health-cell-color: #60E550;
$enemy-cell-color: #C93737;
$weapon-cell-color: #E7A117;
$goal-cell-color: #60316E;
$boss-cell-color: blue;
$body-bg-color: black;

html {
	  height: 100%;
}

@mixin centerhori() {
	display: flex;
	justify-content: center;
	align-items: center;	
}

body {
	background-color: $body-bg-color;
	min-height: 90%;
	display: flex;
	flex-direction: column;
	color: white;
	font-family: 'VT323', ;
}

h1 {
	@include centerhori();
}

#root {
	@include centerhori();
	flex: 1 0 auto;
}

footer {
	@include centerhori();
}

table {
	border-collapse: collapse;
	display: inline-block;
}

.ui-table {
	margin-left: 10px;
	font-size: 20px;
}

.ui-table td {
	width: 100px;
	height: 30px
}

td {
	width: $table-cell-dimension;
	height: $table-cell-dimension;
}

tr {
	background-color: $block-cell-color
}

a {
	color: white;
	&:visited, &:active {
		color: white;
	}
}

.charCell {
	background-color: $char-cell-color;
}

.pathCell {
	background-color: $path-cell-color;
}

.blockCell {
	background-color: $block-cell-color;
}

.healthCell {
	background-color: $health-cell-color;
}

.enemyCell {
	background-color: $enemy-cell-color;	
}

.weaponCell {
	background-color: $weapon-cell-color;
}

.goalCell {
  	background-color: $goal-cell-color;
}

.bossCell {

}

.bossCell:after {
	@include centerhori();
	content: '💀';
}